@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);

/*************************
*******Typography******
**************************/

body {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
  line-height: 22px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600; 
  font-family: 'Open Sans', sans-serif;
  color:#4e4e4e;
}

h2{
  font-size: 20px;
}

h3{
  font-size: 16px;
  color: #787878;
  font-weight: 400;
  line-height: 24px;
}

h4{
  font-size: 16px;
}

a {
  color: #a3163b;
  -webkit-transition: color 300ms, background-color 300ms;
  -moz-transition: color 300ms, background-color 300ms;
  -o-transition:  color 300ms, background-color 300ms;
  transition:  color 300ms, background-color 300ms;
}

a:hover, a:focus {
  color: #d43133;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #fff;
}


.btn-primary {
  padding: 8px 20px;
  background: #b2244a;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #b2244a;
  outline: none;
  box-shadow: none;
} 

.btn-transparent {
  border: 3px solid #fff;
  background: transparent;
  color: #fff;
}

.btn-transparent:hover {
  border-color: rgba(255, 255, 255, 0.5);
}

a:hover,
a:focus {
  color: #111;
  text-decoration: none;
  outline: none;
}

.dropdown-menu {
  margin-top: -1px;
  min-width: 180px;
}

.center h2{
  font-size: 36px;
  margin-top: 0;
  margin-bottom: 20px;
}

body > section {
  padding: 70px 0;
}

/*************************
*******Header******
**************************/

#header {
  max-width: 1024px;
  padding-left: 0px;
}

.navbar>.container .navbar-brand{
  margin-left: 0;
}

 .dottedborder {
        border-top: 1px dotted #999999;
        width: 100%;
        max-width: 1024px;
    }

.top-bar {
  padding: 10px 0;
  background: #7f7f7f;
  border-bottom: 1px solid #222;
  line-height: 28px;
}


    #top-row {
        min-height: 150px;
        border-bottom: 1px dotted #999999;
        border-top: 1px dotted #999999;
        margin-top: 7px;
        width: 100%;
    }

.top-number p{
  margin: 0;
  margin-top: 5px;
  color: #000;
  white-space: nowrap;
}

.top-number a{
  margin: 0;
  color: #000;
}

.right-box {
 display: inline-block;
 list-style: none;
 float: right;
 margin-right: 1em;

}

.social-share {
 display: inline-block;
 list-style: none;
 padding: 0;
 margin: 0;
}

#portal-languageselector {
 font-size: 11px;
 display: inline-block;
 list-style: none;
 padding-left: 1em;
}

ul.social-share li {
  display: inline-block;
}

ul.social-share li a {
  display: inline-block;
  color: #fff;
  background: #404040;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  border-radius: 2px;
  margin-top: 2px;
}

ul.social-share li a:hover {
  background: #b2244a;
  color: #fff;
}

.search i {
  color: #fff;
}

.navbar {
  border-radius: 0;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-top: 0px;
  padding-bottom: 0px;
  background: #f4f4f4;
  min-height: 1em;
}


.navbar-nav>li{
  margin-left: 35px;
}

.navbar-inverse {
  background-color: #f2f2f2;
}

.navbar-inverse .navbar-nav > li > a {
  padding: 5px 12px;
  margin: 0;
  border-radius: 3px;
  color: #3c3c3c;
  line-height: 24px;
  display: inline-block;
}

.navbar-inverse .navbar-nav > li > a:hover{
	background-color: #b2244a;
  color: #fff;
}

.navbar-inverse {
  border: none;
}

.navbar-inverse .navbar-brand {
  font-size: 36px;
  line-height: 50px;
  color: #fff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #a3163b;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu {
  background-color: rgba(0,0,0,.85);
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.125);
  border: 0;
  padding: 0;
  margin-top: 0;
  border-top: 0;
  border-radius: 0;
  left: 0;
}

.navbar-inverse .navbar-nav .dropdown-menu:before{
  position: absolute;
  top:0;
}

.navbar-inverse .navbar-nav .dropdown-menu > li > a {
  padding: 8px 15px;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:hover > a,
.navbar-inverse .navbar-nav .dropdown-menu > li:focus > a,
.navbar-inverse .navbar-nav .dropdown-menu > li.active > a {
  background-color: #b2244a;
  color: #fff;
}

.navbar-inverse .navbar-nav .dropdown-menu > li:last-child > a {
  border-radius: 0 0 3px 3px;
}

.navbar-inverse .navbar-nav .dropdown-menu > li.divider {
  background-color: transparent;
}

.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-top: 0;
  padding-bottom: 0;
}


/*************************
*******Home Page******
**************************/

.no-margin {
  margin: 0;
  padding: 0;
}

.nav-tabs>li{
  margin-bottom: 0px;
  border-bottom: 1px solid #e6e6e6;
}

.nav-tabs{
  border-bottom: transparent;
  border-right: 1px solid #e6e6e6;
}

.nav-tabs>li>a {
  background: #f5f5f5;
  color: #666;
  border-radius: 0;
  border: 0 none;
  line-height: 24px;
  margin-right:0;
  padding: 13px 15px;
}

.nav-tabs li:last-child{
  border-bottom: 0 none;
} 

.nav-stacked>li+li{
  margin-top: 0;
}

.nav-tabs>li>a:hover{
  background: #1f1f20;
  color:#fff;
}

.nav-tabs>li.active>a, 
.nav-tabs>li.active>a:hover, 
.nav-tabs>li.active>a:focus {
  border: 0;
  color:#fff;
  background: #1f1f20;
  position: relative;
}

.nav-tabs>li.active>a:after {
  position: absolute;
  content:  "";
  width: auto;
  height: auto;
  border-style:solid;
  border-color: transparent transparent transparent #1f1f20;
  border-width: 25px 22px;
  right: -44px;
  top:0;
}


/***********************
********* Footer ******
************************/

#footer {
  padding-top: 30px;
  padding-bottom: 30px;
  color: #3c3c3c;
  background-color: #f2f2f2;
  margin-top: 15px;
  padding-left: 0;
  max-width: 1024px;
  width: 100%
}


#footer a {
  color: #3c3c3c;
}

#footer a:hover {
  color: #b2244a;
}

#footer ul > li {
  display: inline-block;
  margin-left: 15px;
}

.image-left {
    clear: both;
    float: left;
    margin: 1em 5em 1em 0;
}-

.image-right {
    border: medium none;
    clear: both;
    float: right;
    margin: 1em 0 1em 5em;
}

#pp-logo {
    float: left;
    padding-top: 15px;
    padding-left: 29px;
}

#pp-title-image {
  padding-top: 14px;
  position: absolute;
}

#wrapper {
  max-width: 1200px;
}

.image-right {
    border: none;
    clear: both;
    float: right;
    margin: 1em;
}

#content li.formTab a.required span::after, #content-core li.formTab a.required span::after, div.field span.required::after {
    color: Red;
    content: "■";
    padding-left: 0.2em;
}

.fieldErrorBox {
    background-color: #a3163b;
    color: white;
}

.container {
    max-width: 1024px;
}

.right-box {
    align: right;
}

input[type="text"], textarea {
	width: 100%
}

table.invisible td, table.invisible th, table.plain td, table.plain th, table.listing td, table.listing th {
    padding: 0.5em 1em;
    vertical-align: top;
}

div.formControls input.context { 
    background-color: #a3163b;
    color: white;
    margin-top: 1em;
    margin-bottom: 1em;
}

div.label {
	font-size: 100%;
	color: #4e4e4e;
	padding-left: 0;
}

div.field {
	margin-top: 1em;
}
