/* lg */ 
@media (min-width: 1200px) {
  .nodesktop {
     display: none;
  }

 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

 #left-right-border {
  margin-left: 4em;
  margin-right: 8em;
      background: #fff;
    z-index: 1;
}

#header {
    background: #fff;
    position: fixed;
    height: 270px;
    top: 0;
    z-index: 999;
}
#content{
    margin-top: 270px;
}

#right {
    position: sticky;
    top:270px;
}

}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {
  .nodesktop {
     display: none;
  }
 /* Make Navigation Toggle on Desktop Hover */
  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  ul.social_icons li{
    margin-right: 0;
  }

  #left-right-border {
  margin-left: 2em;
  margin-right: 2em;
}

#header {
    background: #fff;
    position: fixed;
    height: 270px;
    top: 0;
    z-index: 999;
    width: 100%;
}
#content{
    margin-top: 270px;
}

#right {
    position: sticky;
    top:270px;
}


}


/* sm */
@media (min-width: 768px) and (max-width: 991px) {
  /* Make Navigation Toggle on Desktop Hover */
  body{font-size: 16px;}
  .nomobile {
     display: none;
  }

  .dropdown:hover .dropdown-menu {
      display: block;
      -webkit-animation: fadeInUp 400ms;
      animation: fadeInUp 400ms;
  }

  #left-right-border {
  margin-left: 0.5em;
  margin-right: 0.5em;
}


  .navbar-nav > li {
     margin-left: 10px;
  }
#header {
    background: #fff;
    position: fixed;
    height: 125px;
    top: 0;
    z-index: 999;
}
#content{
    margin-top: 125px;
}

}

/* xs */
@media (max-width: 767px) {
  body{font-size: 18px;}
  .nomobile {
     display: none;
  }

  .container > .navbar-header, .container > .navbar-collapse{
    margin-left: 0;
  }

  .navbar-nav > li {
    padding-bottom: 0;
  }

  .nav-tabs > li.active > a:after{
    display: none;
  }

  ul.social_icons li{
    margin-right: 0;
  }

   #left-right-border {
    margin-left: 0.5em;
    margin-right: 0.5em;
  }

  #header {
    background: #fff;
    position: fixed;
    height: 125px;
    top: 0;
    z-index: 999;
}
#content{
    margin-top: 125px;
}


}
