@media screen {
.image-right {
  float: right;
  margin: 0.5em;
}}

div.hr {
        border-bottom: 1px dotted #999999;
        border-color: #999999;
        height: 1px;
        margin-bottom: 0.7em;
}

#portal-languageselector {
        float: right;
}

#portal-languageselector a {
        color: #7f7f7f;
        font-size: 0.8em;
        text-decoration: none;
}

.slicknav_menu {
   display: none;
}

@media screen and (max-width: 767px) {
    #menu {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

body {
  margin: 0px;
  padding: 0px;
}

#menu {
  position: fixed;
}

#menu ul {
  padding-left: 20px;
}

#menu li {
        list-style-type: none;
        border-bottom: 1px solid #7f7f7f;
}
#menu li a {
        color: #7f7f7f !important;
        border: 1px solid White;
        display: block;
        padding-bottom: 0.25em;
        padding-top: 0.2em;
        text-decoration: none;
    }


