@media screen {
.image-right {
  float: right;
  margin: 0.5em;
}}

div.hr {
        border-bottom: 1px dotted #999999;
        border-color: #999999;
        height: 1px;
        margin-bottom: 0.7em;
}

#portal-languageselector {
        float: right;
}

#portal-languageselector a {
        color: #7f7f7f;
        font-size: 0.8em;
        text-decoration: none;
}

.slicknav_menu {
   display: none;
}

@media screen and (max-width: 767px) {
    #menu {
        display: none;
    }

    #top-row {
        display: none;
    }

    .slicknav_menu {
        display: block;
    }
}

@media screen and (min-width: 768px) {
    #top-row {
        min-height: 150px;
        border-bottom: 1px dotted #999999;
        border-top: 1px dotted #999999;
        margin-top: 10px;
    }

}


body {
  margin: 0px;
  padding: 0px;
}

#menu {
  position: fixed;
}

#menu ul {
  padding-left: 20px;
}

#menu li {
        list-style-type: none;
        border-bottom: 1px solid #7f7f7f;
}
#menu li a {
        color: #7f7f7f !important;
        border: 1px solid White;
        display: block;
        padding-bottom: 0.25em;
        padding-top: 0.2em;
        text-decoration: none;
    }

#menu li:last-child
{
    border-bottom: none;
}

#pp-logo {
    float: left;
    padding-top: 15px;
    padding-left: 29px;
}

#pp-logo-title {
    font-weight: bold;
    font-size: xx-large;
    color: #7f7f7f;
    margin-top: 25px;
    margin-left: 10em;
}

#pp-logo-subtitle {
    font-size: large;
    margin-left: 32.3em;
    font-weight: bold;

}

.image-left {
    clear: both;
    float: left;
    margin: 0.5em 1em 0.5em 0;
}

.image-right {
    border: medium none;
    clear: both;
    float: right;
    margin: 0.5em;
}

#portal-languageselector {
    list-style-type: none;
}